<footer class="site-footer h-card"> 
  <!-- <data class="u-url" href="{{ "/" | relative_url }}"></data> -->

  <div class="wrapper">

    <!-- <div class="footer-col-wrapper"> -->
      <!-- <div class="footer-col"> -->
        <!-- <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange">
              <use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use>
            </svg><span>RSS</span> -->
          <!-- </a>
        </p>  -->
       <!-- {%- if site.author %}
        <ul class="contact-list"> -->
          <!-- {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%} -->
          <!-- {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
        </ul>
      {%- endif %} -->
      <!-- </div> -->
      <!-- <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div> -->
    <!-- </div> -->
    <!-- <div class="footer-col"> -->
     <div class="social-links">
      {%- include social.html -%}
      <!-- <p style="font-size: 5px">rnikhil.com is best viewed with Netscape Navigator 4.0 or below on a Pentium 3±1 emulated in Javascript on an Apple IIGS
at a screen resolution of 1024x1. Please enable your ad blockers, disable high-heat drying, and remove your device
from Airplane Mode and set it to Boat Mode. For security reasons, please leave caps lock on while browsing.</p>
    </div>  -->

  <!-- </div> -->

<!-- </footer>
